@model MVCApplication.ViewModels.EditItemViewModel

@{
    ViewData["Title"] = "Edit Item";
}

<h2>Edit</h2>

<form action='EditItem' method='POST' align="left">
   <label>
        Please enter an new sidelength for this item's shape (@ViewBag.NewElement1):
    </label><br><br>
    <input name="NewElement2" type="text" default=@ViewBag.NewElement2 value=@ViewBag.NewElement2 />
    <br /><br />
    <input type="submit" value="Edit Item" />

</form>

