@model MVCApplication.ViewModels.RandomViewModel

@{
    ViewData["Title"] = "Random";
}

<h2>Random</h2>

<br />

<h4>A shape chosen randomly is:</h4>
@Model.Ranshape.Name : @Model.Ranshape.Sidelength
