@model MVCApplication.ViewModels.RemoveViewModel

@{
    ViewData["Title"] = "Remove";
}

<h2>Remove</h2>

<div>
    <form action='Remove' method='POST' align="left">
        <label>
            Which shape type would you like to delete from the list?
        </label><br><br />
                    <select name="NewElement1">                  
                            <option value="Segment">Segment</option>
                            <option value="Square">Square</option>}
                        <option value="Cube">Cube</option>
                    </select>
</div>

<br /><br />
<input type="submit" value="Remove Item" />
</form>